body
{
    background-size: cover;
}
#start, #number_of_objects, #start
{
    font-size: 15px;
}
canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
}

.heading
{
    font-size: 20px;
    width: 100%;
    margin: 0px;
    background-color: white;
    color: black;
}

#note
{
    font-size: 15px;
    color: black;
}